[submodule "Query-Optimizer"]
	path = Query-Optimizer
	url = https://github.com/MariaDanB-Sistem-Basis-Data/Query-Optimizer.git
[submodule "Storage-Manager"]
	path = Storage-Manager
	url = https://github.com/MariaDanB-Sistem-Basis-Data/Storage-Manager.git
